body {
  background-color: #000000;
  color: #32cd32;
}

h1 {
 text-align: center; 
}

a:hover {
  color: gold;
}

a:link {
  color: #0000ff;
}

a:visited{
  color: #ff0000;
}

a:active {
  color: #800080;
}